Flask==3.1.0
flask-cors==5.0.1
flask-jwt-extended==4.7.1
pymongo==4.12.1
PyJWT==2.10.1
requests==2.32.3
requests-cache==1.2.1
retry-requests==2.0.0
pandas==2.2.3
numpy
matplotlib==3.10.1
scikit-learn==1.6.1
joblib==1.4.2
keras==3.9.2
tensorflow==2.16.1
openmeteo-requests==1.4.0
gunicorn==23.0.0
python-dateutil==2.9.0.post0